
    <section id="datos">
        <div>
            <h7>QUITO-ECUADOR <br></h7>
            <h8>Correo Electronico <br></h8>
            <p1>ConFresas&Chocolates@gmail.com <br></p1>
            <h7>TELÉFONO <br></h7>
            <p1>0983016062 <br></p1>
        </div>
    </section>