<section id="Contenedor" >       
            <div class="image">
                <img style="border: 8px solid; color: #06d66e;" src="logo.jpeg" width="200" height="200" >
            </div>          
            <div>
                <h2>Datos de Con Fresas & Chocolates</h2>
                <p>Somos una empresa que realiza detalles frutales, bañados en chocolate nuestros servicios son a domicilio</p>
                <button id="mas">Mas información</button>            
            </div>
    </section>