<header class="header">
        <div class="banner">
            <h3 >¿Quieres un detalles para Alguien Especial?</h3>
            <h2 >Haz llegado al lugar indicado</h2>
            <h1>Explosion de Sabores</h1>
            <h4>Con Fresas & Chocolates</h4>           
            <button>EXPLORAR</button>
        </div>
    </header>