<section id="producto">
        <div>
            <h5>Informate</h5>
            <h6>Sobre nuestros Detalles</h6>
            <p>Obtenemos una variedad de arreglos frutales los cuales daremos a conocer a continuacion.</p>
            <button id="mas">Inventario</button>   
        </div>
        <div>
            <img style="border: 8px solid; color: #cc1313;" src="https://i.pinimg.com/originals/68/72/58/687258e09161d0d537e8618628bc4ad9.jpg" width="170px" height="170px">
            <p>Candy</p>
            <p>30$</p>
        </div>
        <div>
            <img style="border: 8px solid; color: #e90e0e;" src="http://www.floristerialatircali.com/wp-content/uploads/2017/09/FC04.jpg" width="170px" height="170px">
            <p>Sugar</p>
            <p>25$</p>
        </div>
        <div>
            <img style="border: 8px solid; color: #e71313;" src="https://www.adoomicilio.com/img/tiendas/180/1/9389_xl.jpg" width="170px" height="170px">
            <p>Love</p>
            <p>15$</p>
        </div>
    </section>